<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCategoryLabel">Create or edit a Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!category.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="category.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="category.label" required/>
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_template">Template</label>
            <select class="form-control" id="field_template" name="template" [(ngModel)]="category.template" >
                <option [ngValue]="null"></option>
                <option [ngValue]="templateOption.id === category.template?.id ? category.template : templateOption" *ngFor="let templateOption of templates; trackBy: trackTemplateById">{{templateOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_expenseNote">Expense Note</label>
            <select class="form-control" id="field_expenseNote" name="expenseNote" [(ngModel)]="category.expenseNote" >
                <option [ngValue]="null"></option>
                <option [ngValue]="expenseNoteOption.id === category.expenseNote?.id ? category.expenseNote : expenseNoteOption" *ngFor="let expenseNoteOption of expensenotes; trackBy: trackExpenseNoteById">{{expenseNoteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
