
<div *ngIf="template">
    <h2><span>Template</span> {{template.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Montant</span></dt>
        <dd>
            <span>{{template.montant}}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
            <span>{{template.label}}</span>
        </dd>
        <dt><span>Justification</span></dt>
        <dd>
            <span>{{template.justification}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{template.comment}}</span>
        </dd>
        <dt><span>Provider</span></dt>
        <dd>
            <span>{{template.provider}}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <div *ngIf="template.employee">
                <a [routerLink]="['/employee', template.employee?.id]">{{template.employee?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'template/'+ template.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
